dist/
deploy_versions/
.temp/
.rn_temp/
node_modules/
.DS_Store
.eslintcache
.env
.env.local
/src/config/env/development.ts
.package-lock.json
deploy.config.js
package-lock.json
pnpm-lock.yaml
yarn.lock
output